---
http_interactions:
- request:
    method: get
    uri: http://client.e-diary.com/apiv2/subscriber/1?apiKey=7adbab10934acf84648d87c71b65fac556a7a008205d2&apiSign=2faab7ebd1bb693e3a1b9c5dbb7e662b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/json
      X-Ediary-Status:
      - '204'
      X-Ediary-Statuslong:
      - Subscriber with ID [1] Not Found
      X-Ediary-Statusshort:
      - No Content Found
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 29 Jan 2016 07:47:06 GMT
- request:
    method: get
    uri: http://client.e-diary.com/apiv2/subscriber/56ab1c900390694974000007?apiKey=7adbab10934acf84648d87c71b65fac556a7a008205d2&apiSign=2faab7ebd1bb693e3a1b9c5dbb7e662b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ediary-Status:
      - '200'
      X-Ediary-Statusshort:
      - OK
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"56ab1c900390694974000007","publisherOrgId":3231,"appName":"ECAL","email":"test_subscriber@exmaple.com","mobile":"","name":"","first_name":"","last_name":"","gender":"","country":"","age_group":"","zip":"","category":"Mobile","data":{"application":"iphone","calIds":["56a7a008039069d866000000"],"calNames":["DEMO:
        TidyHQ Calendar"],"eventIds":[],"tags":["Events"],"ip":"219.92.78.210","mobileFull":""},"subscription":0,"subscription2":0,"logged":"2016-01-29T08:02:24Z","ip":"219.92.78.210","fingerprint":"","os":"","device":"","subscriptionWidgetId":"","standardWidgetId":"","source":"API
        V2","created":"2016-01-29T08:02:24Z","lastActive":"2016-01-29T08:02:27Z","totalActivity":1,"userAgent":["YOURLS
        v1.5 +http:\/\/yourls.org\/ (running on http:\/\/e-qo.de)"],"calendarUrl":{"webCalUrl":"webcal:\/\/e-qo.de\/nz17.ics","webCalUrlNoIcs":"webcal:\/\/e-qo.de\/nz17","httpCalUrl":"http:\/\/e-qo.de\/nz17","httpsCalUrl":"http:\/\/e-qo.de\/nz18","googleUrl":"https:\/\/www.google.com\/calendar\/render?cid=webcal:\/\/e-qo.de\/nz17.ics","outlookcomUrl":"https:\/\/calendar.live.com\/calendar\/calendar.aspx?rru=addsubscription&url=webcal:\/\/e-qo.de\/nz17.ics&name=Tinder"}},"status":"200","statusLong":"OK"}'
  recorded_at: Fri, 29 Jan 2016 08:02:51 GMT
recorded_with: VCR 3.0.1
