---
http_interactions:
- request:
    method: post
    uri: http://client.e-diary.com/apiv2/calendar/?apiKey=7adbab10934acf84648d87c71b65fac556a7a008205d2&apiSign=fc5b4d4096d789b593437682d2f93b5b
    body:
      encoding: UTF-8
      string: '{"category":"Calendar","application":"ical","calendarIds":["56a7a008039069d866000000"]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Ediary-Status:
      - '400'
      X-Ediary-Statusshort:
      - Bad Request
    body:
      encoding: ASCII-8BIT
      string: '{"status":"400","statusLong":"Invalid Calendar Data","errors":{"name":"Calendar
        name is required","type":"Calendar type is required. Available Types are fixture,event,media,corporate,birthday,tactical","categories":"Calendar
        category is required."}}'
  recorded_at: Fri, 29 Jan 2016 07:58:38 GMT
- request:
    method: post
    uri: http://client.e-diary.com/apiv2/calendar/?apiKey=7adbab10934acf84648d87c71b65fac556a7a008205d2&apiSign=22f82ef420f2feadb0f49e06a35809e6
    body:
      encoding: UTF-8
      string: '{"email":"test_subscriber@exmaple.com","category":"Calendar","application":"ical","calendarIds":["56a7a008039069d866000000"]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Ediary-Status:
      - '400'
      X-Ediary-Statusshort:
      - Bad Request
    body:
      encoding: ASCII-8BIT
      string: '{"status":"400","statusLong":"Invalid Calendar Data","errors":{"name":"Calendar
        name is required","type":"Calendar type is required. Available Types are fixture,event,media,corporate,birthday,tactical","categories":"Calendar
        category is required."}}'
  recorded_at: Fri, 29 Jan 2016 08:00:55 GMT
[...]
- request:
    method: post
    uri: http://client.e-diary.com/apiv2/subscriber/?apiKey=7adbab10934acf84648d87c71b65fac556a7a008205d2&apiSign=297a0da5fd244f151c13a8951874c760
    body:
      encoding: UTF-8
      string: '{"email":"test_subscriber@exmaple.com","category":"Mobile","application":"iphone","calendarIds":["56a7a008039069d866000000"]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ediary-Status:
      - '200'
      X-Ediary-Statusshort:
      - OK
    body:
      encoding: ASCII-8BIT
      string: '{"status":"200","statusLong":"OK","subscriberId":"56ab1c900390694974000007","calendarUrl":{"webCalUrl":"webcal:\/\/e-qo.de\/nz17.ics","webCalUrlNoIcs":"webcal:\/\/e-qo.de\/nz17","httpCalUrl":"http:\/\/e-qo.de\/nz17","httpsCalUrl":"http:\/\/e-qo.de\/nz18","googleUrl":"https:\/\/www.google.com\/calendar\/render?cid=webcal:\/\/e-qo.de\/nz17.ics","outlookcomUrl":"https:\/\/calendar.live.com\/calendar\/calendar.aspx?rru=addsubscription&url=webcal:\/\/e-qo.de\/nz17.ics&name=Tinder"}}'
  recorded_at: Fri, 29 Jan 2016 08:02:28 GMT
recorded_with: VCR 3.0.1
