---
http_interactions:
- request:
    method: put
    uri: http://client.e-diary.com/apiv2/subscriber/56ab1c900390694974000007?apiKey=7adbab10934acf84648d87c71b65fac556a7a008205d2&apiSign=4b29588bc5fb8d96dee9a8f09bc2feee
    body:
      encoding: UTF-8
      string: '{"gender":"M","age_group":"15-24"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ediary-Status:
      - '200'
      X-Ediary-Statusshort:
      - OK
    body:
      encoding: ASCII-8BIT
      string: '{"status":"200","statusLong":"OK","subscriberId":"56ab1c900390694974000007","calendarUrl":{"webCalUrl":"webcal:\/\/e-qo.de\/nz17.ics","webCalUrlNoIcs":"webcal:\/\/e-qo.de\/nz17","httpCalUrl":"http:\/\/e-qo.de\/nz17","httpsCalUrl":"http:\/\/e-qo.de\/nz18","googleUrl":"https:\/\/www.google.com\/calendar\/render?cid=webcal:\/\/e-qo.de\/nz17.ics","outlookcomUrl":"https:\/\/calendar.live.com\/calendar\/calendar.aspx?rru=addsubscription&url=webcal:\/\/e-qo.de\/nz17.ics&name=Tinder"}}'
  recorded_at: Fri, 29 Jan 2016 08:04:50 GMT
recorded_with: VCR 3.0.1
