---
http_interactions:
- request:
    method: get
    uri: http://client.e-diary.com/apiv2/calendar/11319?apiKey=7adbab10934acf84648d87c71b65fac556a7a008205d2&apiSign=2faab7ebd1bb693e3a1b9c5dbb7e662b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/json
      X-Ediary-Status:
      - '204'
      X-Ediary-Statuslong:
      - Calendar with ID [11319] Not Found
      X-Ediary-Statusshort:
      - No Content Found
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 29 Jan 2016 07:27:55 GMT
- request:
    method: get
    uri: http://client.e-diary.com/apiv2/calendar/56a7a008039069d866000000?apiKey=7adbab10934acf84648d87c71b65fac556a7a008205d2&apiSign=2faab7ebd1bb693e3a1b9c5dbb7e662b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ediary-Status:
      - '200'
      X-Ediary-Statusshort:
      - OK
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"56a7a008039069d866000000","type":"fixture","typeOrder":1,"eventId":"","publisherId":11319,"publisherOrgId":3231,"name":"DEMO:
        TidyHQ Calendar","logo":false,"note":"","categories":["Uncategorized"],"categoryIds":[],"stats":[],"feed":"","genreId":"","sport":"","tags":["Events"],"draftCalendar":0,"reference":null,"created":"2016-01-26T16:34:16Z","campaignUrl":"http:\/\/e-qo.de\/nz06","webCalUrl":"webcal:\/\/e-qo.de\/nz07.ics","httpCalUrl":"http:\/\/e-qo.de\/nz07"},"status":"200","statusLong":"OK"}'
  recorded_at: Fri, 29 Jan 2016 07:28:22 GMT
recorded_with: VCR 3.0.1
