---
http_interactions:
- request:
    method: post
    uri: http://client.e-diary.com/apiv2/calendar/?apiKey=7adbab10934acf84648d87c71b65fac556a7a008205d2&apiSign=17fcf409bf8a10e05bf8285abe0a9684
    body:
      encoding: UTF-8
      string: '{"name":"FZ Calendar","type":"birthday","categories":"sports/tennis","reference":"FZ1","tags":["sports","tofu"],"note":"This
        is my calendar","logo":"http://ecal.com/ecal_logo_150.png","draftCalendar":0}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Ediary-Status:
      - '400'
      X-Ediary-Statusshort:
      - Bad Request
    body:
      encoding: ASCII-8BIT
      string: '{"status":"400","statusLong":"Invalid Calendar Data","errors":"The
        aspect ratio of logo image must be 1:1."}'
  recorded_at: Fri, 29 Jan 2016 07:31:58 GMT
- request:
    method: post
    uri: http://client.e-diary.com/apiv2/calendar/?apiKey=7adbab10934acf84648d87c71b65fac556a7a008205d2&apiSign=796f6c8a122d993fd8542a1349f8fd92
    body:
      encoding: UTF-8
      string: '{"name":"FZ Calendar","type":"birthday","categories":"sports/tennis","reference":"FZ1","tags":["sports","tofu"],"note":"This
        is my calendar","draftCalendar":0}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ediary-Status:
      - '200'
      X-Ediary-Statusshort:
      - OK
    body:
      encoding: ASCII-8BIT
      string: '{"status":"200","statusLong":"OK","calendarId":"56ab1640a0dc498220000001"}'
  recorded_at: Fri, 29 Jan 2016 07:35:29 GMT
- request:
    method: post
    uri: http://client.e-diary.com/apiv2/calendar/?apiKey=7adbab10934acf84648d87c71b65fac556a7a008205d2&apiSign=4d047af82da05a74ec11af8d9dfc53c1
    body:
      encoding: UTF-8
      string: '{"name":"FZ Calendar","type":"birthday","categories":"sports/tennis","reference":"FZ1","tags":["sports","tofu"],"note":"This
        is my calendar","logo":"http://3.bp.blogspot.com/_5pqCqLjs8WA/TGmMutN5ISI/AAAAAAAAACw/rMgIXNxHSN8/s400/Aspect1x1.png","draftCalendar":0}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - application/json
      X-Ediary-Status:
      - '409'
      X-Ediary-Statuslong:
      - The calendar with reference [FZ1] already exists
      X-Ediary-Statusshort:
      - Conflict
    body:
      encoding: ASCII-8BIT
      string: '{"status":"409","statusLong":"The calendar with reference [FZ1] already
        exists"}'
  recorded_at: Fri, 29 Jan 2016 07:36:51 GMT
- request:
    method: post
    uri: http://client.e-diary.com/apiv2/calendar/?apiKey=7adbab10934acf84648d87c71b65fac556a7a008205d2&apiSign=07055d032d1b44a5bb91399ea13095c7
    body:
      encoding: UTF-8
      string: '{"name":"FZ Calendar","type":"birthday","categories":"sports/tennis","reference":"FZ2","tags":["sports","tofu"],"note":"This
        is my calendar","logo":"http://3.bp.blogspot.com/_5pqCqLjs8WA/TGmMutN5ISI/AAAAAAAAACw/rMgIXNxHSN8/s400/Aspect1x1.png","draftCalendar":0}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ediary-Status:
      - '200'
      X-Ediary-Statusshort:
      - OK
    body:
      encoding: ASCII-8BIT
      string: '{"status":"200","statusLong":"OK","calendarId":"56ab169d7f4b3f3937000007"}'
  recorded_at: Fri, 29 Jan 2016 07:37:03 GMT
recorded_with: VCR 3.0.1
