---
http_interactions:
- request:
    method: put
    uri: http://client.e-diary.com/apiv2/publisher/56ab169d7f4b3f3937000007?apiKey=7adbab10934acf84648d87c71b65fac556a7a008205d2&apiSign=e1e42be1c655fff9946719818489af2c
    body:
      encoding: UTF-8
      string: '{"categories":"sports/tennis","name":"FZ-Modified"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ediary-Status:
      - '200'
      X-Ediary-Statusshort:
      - OK
    body:
      encoding: ASCII-8BIT
      string: '{"status":"200","statusLong":"OK","publisherId":"11319"}'
  recorded_at: Fri, 29 Jan 2016 07:41:59 GMT
recorded_with: VCR 3.0.1
