---
http_interactions:
- request:
    method: get
    uri: http://client.e-diary.com/apiv2/organisation/3256?apiKey=7adbab10934acf84648d87c71b65fac556a7a008205d2&apiSign=2faab7ebd1bb693e3a1b9c5dbb7e662b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ediary-Status:
      - '200'
      X-Ediary-Statusshort:
      - OK
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"3256","name":"Tinder","status":"public","shortname":"","parentOrgId":"3231","sortOrder":"0"},"status":"200","statusLong":"OK"}'
  recorded_at: Fri, 29 Jan 2016 07:15:39 GMT
recorded_with: VCR 3.0.1
