---
http_interactions:
- request:
    method: post
    uri: http://client.e-diary.com/apiv2/organisation/?apiKey=7adbab10934acf84648d87c71b65fac556a7a008205d2&apiSign=bf743f96d3b436d92f1f306d0c6051d6
    body:
      encoding: UTF-8
      string: '{"company":"Tinder","firstName":"James","lastName":"Blunt","email":"ginger4@gmail.com"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Ediary-Status:
      - '400'
      X-Ediary-Statusshort:
      - Bad Request
    body:
      encoding: ASCII-8BIT
      string: '{"status":"400","statusLong":"Invalid Publisher Data","errors":["Email
        [ginger4@gmail.com] already exists. Please try different email address"]}'
  recorded_at: Thu, 04 Feb 2016 05:52:50 GMT
recorded_with: VCR 3.0.1
