---
http_interactions:
- request:
    method: post
    uri: http://client.e-diary.com/apiv2/organisation/?apiKey=7adbab10934acf84648d87c71b65fac556a7a008205d2&apiSign=b34bfa6dc0fb9dbc292a89ce52c0c269
    body:
      encoding: UTF-8
      string: '{"company":"Tinder","firstName":"James","lastName":"Blunt","email":"ginger1@gmail.com"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ediary-Status:
      - '200'
      X-Ediary-Statusshort:
      - OK
    body:
      encoding: ASCII-8BIT
      string: '{"status":"200","statusLong":"OK","organisationId":"3256","publisherId":"11344","username":"ginger1@gmail.com","password":"cg46gsv7","apiKey":"82b874fb54b1dc91080cc2deb073d52556aaec2000d49","apiSecret":"8smmuk4x","dateExpiry":"2016-02-26
        03:34:16"}'
  recorded_at: Fri, 29 Jan 2016 04:35:44 GMT
recorded_with: VCR 3.0.1
