---
http_interactions:
- request:
    method: put
    uri: http://client.e-diary.com/apiv2/organisation/?apiKey=7adbab10934acf84648d87c71b65fac556a7a008205d2&apiSign=8649aa58e8637263eaf0911a6b64359a
    body:
      encoding: UTF-8
      string: '{"company":"Tinder","logo":"http://ecal.net/site-logo.png"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ediary-Status:
      - '200'
      X-Ediary-Statusshort:
      - OK
    body:
      encoding: ASCII-8BIT
      string: '{"status":"200","statusLong":"OK","organisationId":"3231"}'
  recorded_at: Fri, 29 Jan 2016 04:35:49 GMT
- request:
    method: put
    uri: http://client.e-diary.com/apiv2/organisation?apiKey=7adbab10934acf84648d87c71b65fac556a7a008205d2&apiSign=8649aa58e8637263eaf0911a6b64359a
    body:
      encoding: UTF-8
      string: '{"company":"Tinder","logo":"http://ecal.net/site-logo.png"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ediary-Status:
      - '200'
      X-Ediary-Statusshort:
      - OK
    body:
      encoding: ASCII-8BIT
      string: '{"status":"200","statusLong":"OK","organisationId":"3231"}'
  recorded_at: Fri, 29 Jan 2016 05:07:48 GMT
recorded_with: VCR 3.0.1
