---
http_interactions:
- request:
    method: get
    uri: http://client.e-diary.com/apiv2/event/56a7a008039069d866000000?apiKey=7adbab10934acf84648d87c71b65fac556a7a008205d2&apiSign=2faab7ebd1bb693e3a1b9c5dbb7e662b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/json
      X-Ediary-Status:
      - '204'
      X-Ediary-Statuslong:
      - Event with ID [56a7a008039069d866000000] Not Found
      X-Ediary-Statusshort:
      - No Content Found
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 29 Jan 2016 08:05:48 GMT
- request:
    method: get
    uri: http://client.e-diary.com/apiv2/event/56a7a008039069d866000001?apiKey=7adbab10934acf84648d87c71b65fac556a7a008205d2&apiSign=2faab7ebd1bb693e3a1b9c5dbb7e662b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ediary-Status:
      - '200'
      X-Ediary-Statusshort:
      - OK
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"56a7a008039069d866000001","alert":"1H","alert2":"","allDay":"","calendarId":"56a7a008039069d866000000","created":"2016-01-26T16:34:16Z","details":"Here
        you put all the important details about the event","draft":0,"endDate":"2016-02-10","endGmt":"20160210T070000Z","endTime":"15:00","event_banner":"","featured":0,"focus-x":"","focus-y":"","location":"TidyHQ
        HQ","modified":"2016-01-28T05:06:37Z","name":"DEMO: TidyHQ Event","primary_link":"1","publisherId":11319,"publisherOrgId":3231,"quickLink[10][name]":"","quickLink[10][original_url]":"","quickLink[10][url]":"","quickLink[1][name]":"","quickLink[1][original_url]":"","quickLink[1][url]":"","quickLink[2][name]":"","quickLink[2][original_url]":"","quickLink[2][url]":"","quickLink[3][name]":"","quickLink[3][original_url]":"","quickLink[3][url]":"","quickLink[4][name]":"","quickLink[4][original_url]":"","quickLink[4][url]":"","quickLink[5][name]":"","quickLink[5][original_url]":"","quickLink[5][url]":"","quickLink[6][name]":"","quickLink[6][original_url]":"","quickLink[6][url]":"","quickLink[7][name]":"","quickLink[7][original_url]":"","quickLink[7][url]":"","quickLink[8][name]":"","quickLink[8][original_url]":"","quickLink[8][url]":"","quickLink[9][name]":"","quickLink[9][original_url]":"","quickLink[9][url]":"","reference":"","secondary_link":"2","shortUrl":"","social":{"facebook":"https:\/\/www.facebook.com\/ECALworld","twitter":"@ECALworld","youtube":"http:\/\/www.youtube.com\/Ecaltv"},"sponsored_message":"","startDate":"2016-02-10","startGmt":"20160210T040000Z","startTime":"12:00","tags":["Demo"],"timezone":"Asia\/Kuala_Lumpur","twitterTag":"","type":"fixture","startDateFull":"2016-02-10T12:00:00+08:00","due":"12
        days","endDateFull":"2016-02-10T15:00:00+08:00"},"status":"200","statusLong":"OK"}'
  recorded_at: Fri, 29 Jan 2016 08:11:59 GMT
[...]
