---
http_interactions:
- request:
    method: post
    uri: http://client.e-diary.com/apiv2/event/?apiKey=7adbab10934acf84648d87c71b65fac556a7a008205d2&apiSign=888e9ead59842ecd54661a57f2f4fc24
    body:
      encoding: UTF-8
      string: '{"calendarId":"56a7a008039069d866000000","name":"Liga Tennis","startDate":"2016-08-29","startTime":"18:00","endDate":"2016-08-30","endTime":"19:00","reference":"sport
        1","alert":"15M","details":"This is a test fixture event","draft":0}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Ediary-Status:
      - '400'
      X-Ediary-Statusshort:
      - Bad Request
    body:
      encoding: ASCII-8BIT
      string: '{"status":"400","statusLong":"Invalid Event Data","errors":{"location":"Event
        location is required"}}'
  recorded_at: Fri, 29 Jan 2016 08:12:02 GMT
- request:
    method: post
    uri: http://client.e-diary.com/apiv2/event/?apiKey=7adbab10934acf84648d87c71b65fac556a7a008205d2&apiSign=569008789000a4b12ce668b64af23a97
    body:
      encoding: UTF-8
      string: '{"calendarId":"56a7a008039069d866000000","location":"ECAL HQ 4 Bank
        Place Melbourne","name":"Liga Tennis","startDate":"2016-08-29","startTime":"18:00","endDate":"2016-08-30","endTime":"19:00","reference":"sport
        1","alert":"15M","details":"This is a test fixture event","draft":0}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ediary-Status:
      - '200'
      X-Ediary-Statusshort:
      - OK
    body:
      encoding: ASCII-8BIT
      string: '{"status":"200","statusLong":"OK","eventId":"56ab1eee7f4b3fad35000008"}'
  recorded_at: Fri, 29 Jan 2016 08:12:31 GMT
recorded_with: VCR 3.0.1
