---
http_interactions:
- request:
    method: put
    uri: http://client.e-diary.com/apiv2/publisher/56ab1eee7f4b3fad35000008?apiKey=7adbab10934acf84648d87c71b65fac556a7a008205d2&apiSign=9f5997b6c301c0547f694090ff816936
    body:
      encoding: UTF-8
      string: '{"alert":"5M"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ediary-Status:
      - '200'
      X-Ediary-Statusshort:
      - OK
    body:
      encoding: ASCII-8BIT
      string: '{"status":"200","statusLong":"OK","publisherId":"11319"}'
  recorded_at: Fri, 29 Jan 2016 08:13:14 GMT
- request:
    method: put
    uri: http://client.e-diary.com/apiv2/event/56ab1eee7f4b3fad35000008?apiKey=7adbab10934acf84648d87c71b65fac556a7a008205d2&apiSign=9f5997b6c301c0547f694090ff816936
    body:
      encoding: UTF-8
      string: '{"alert":"5M"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ediary-Status:
      - '200'
      X-Ediary-Statusshort:
      - OK
    body:
      encoding: ASCII-8BIT
      string: '{"status":"200","statusLong":"OK","eventId":"56ab1eee7f4b3fad35000008"}'
  recorded_at: Thu, 03 Mar 2016 04:50:30 GMT
recorded_with: VCR 3.0.1
