---
http_interactions:
- request:
    method: get
    uri: http://client.e-diary.com/apiv2/publisher/?apiKey=7adbab10934acf84648d87c71b65fac556a7a008205d2&apiSign=2faab7ebd1bb693e3a1b9c5dbb7e662b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ediary-Status:
      - '200'
      X-Ediary-Statusshort:
      - OK
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"11319":{"id":"11319","email":"abc@gmail.com","firstName":"a","lastName":"b","dateCreated":"2016-01-27
        03:34:16","status":"active","organisationId":"3231","mobile":"01677777777","subscriptionLevel":"Free","custom_event_limit":"0","affiliate_id":"eCal","affiliate_name":"eCal","verify":"N","last_login":"2016-01-29
        18:13:10","subscription_plan_id":"14","subscriber_limit":"5000","calendar_limit":"-1","country":null,"timezone":"Asia\/Kuala_Lumpur"}},"count":1,"status":"200","statusLong":"OK"}'
  recorded_at: Fri, 29 Jan 2016 07:24:36 GMT
recorded_with: VCR 3.0.1
