---
http_interactions:
- request:
    method: put
    uri: http://client.e-diary.com/apiv2/publisher/?apiKey=7adbab10934acf84648d87c71b65fac556a7a008205d2&apiSign=6f98440cf1c930e91482a02ddae1a7b0
    body:
      encoding: UTF-8
      string: '{"firstName":"a","lastName":"b","email":"abc@gmail.com","phone":"01677777777"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ediary-Status:
      - '200'
      X-Ediary-Statusshort:
      - OK
    body:
      encoding: ASCII-8BIT
      string: '{"status":"200","statusLong":"OK","publisherId":"11319"}'
  recorded_at: Fri, 29 Jan 2016 07:24:37 GMT
recorded_with: VCR 3.0.1
